name: Deploy Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.EC2_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            cd ${{ secrets.PROJECT_DIR }}
            
            # Use full paths for Node, npm, and PM2
            /home/ubuntu/.nvm/versions/node/v24.12.0/bin/npm install --production
            /home/ubuntu/.nvm/versions/node/v24.12.0/bin/npm run build
            /home/ubuntu/.nvm/versions/node/v24.12.0/bin/pm2 reload mypreschool-backend || /home/ubuntu/.nvm/versions/node/v24.12.0/bin/pm2 start dist/main.js --name mypreschool-backend
          EOF
